tensorflow==1.15.0
keras==2.2.5
scikit-learn==0.22.1
pandas==0.25.3
tensorflow_probability==0.7.0
kneed==0.7.0
gensim==3.8.3
kneed==0.7.0
matplotlib==3.1.2
numpy==1.17.5
scipy==1.4.1
tqdm==4.42.0
transformers==4.6.1
